*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    width: 100%;
    height: 100vh;
    background: url(img/back_4.jpg);
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
}
form{
    width: 260px;
    height: 350px;
    background: rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    box-shadow: 0 0 20px 10px white;
}
.logo{
    width: 100px;
    height: 50px;
    font-size: 3rem;
    color: white;
    font-style:oblique;
    margin-left: -25px;
    text-shadow: 0 0 10px black;
}
.logo span{
    color: #0078BC;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}
.hello{
    font-family: sans-serif;@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
    --ffMontserrat: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    align-items: center;
    -webkit-transition:  background 0.3s;
    -moz-transition:  background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
form{
    color: white;
}
.logo img{
   max-width: 200px;
}
.avatar{
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border-radius: 50px;
    object-fit: cover;
}
.hello{
    font-family: var(--ffMontserrat);
    padding-bottom: 15px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: var(--ffMontserrat);
    font-size: .8rem;  
}
.input__text{
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 8px;
    padding: 5px;
    border: none;
    background: rgba(208, 204, 204, 0.752);
    font-family: var(--ffMontserrat);
    font-weight: 500;
}
.input__text::placeholder{
    color: rgb(30, 31, 32);
    font-family: var(--ffMontserrat);
    font-weight: 500;
}
.input__text:focus{
    box-shadow: 0 0 10px 1px white;
}
.input__text:hover{
    box-shadow: 0 0 10px 1px white;
}
.input__button{
    padding: 5px 25px;
    cursor: pointer; 
    border: none;
    outline: none;
    font-family: var(--ffMontserrat);
    font-weight: 500;
    border-radius: 7px;
    background: rgb(180, 187, 201);
}
.input__button:hover{
    background: radial-gradient(rgb(133, 141, 177),rgb(112, 111, 111));
}

.input input[type='checkbox']{
    width: 15px;
    height: 15px;
    border: none;
}
.chackbox{
    display: flex;
    gap: 5px;
}
.question{
    cursor: pointer;
}
.flip-container {
	perspective: 1000px;
    margin-top: 50px;
}
.flip-container, .front, .back {
	width: 260px;
	height: 50%;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    color: white;
	top: 0;
	left: 0;
    background: rgba(9, 9, 9, 0.525);
    box-shadow: 0 0 20px 10px white;
    border-radius: 10px;
}
.front {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    border-radius: 15px;
    padding: 20px 0;
}
.back {
    height: auto;
    padding: 20px 0;
	transform: rotateY(180deg);
    display: grid;
    align-items: center;
    justify-items: center;
}
.input input[type='submit']{
    padding: 0px 15px 3px 15px;
    cursor: pointer; 
    border: none;
    outline: none;
    font-family: var(--ffMontserrat);
    font-weight: 500;
    border-radius: 7px;
    background: rgb(180, 187, 201);
    font-size: 1.2rem;
}
.input input[type='submit']:hover{
    background: radial-gradient(rgb(133, 141, 177),rgb(112, 111, 111));
}
.exit{
    padding: 0px 15px 3px 15px;
    font-size: 1.2rem;
}
.input span{
    display: flex;
    gap: 20px;
}
.info{
    display: flex;
    gap: 30px;
    /* margin-top: 170px; */
    margin-top: 320px;
}
.info img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.info img:hover{
    transform: scale(1.2);
}
.contacts__modal{
    width: 50vw;
    height: 85px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px white;
    background: rgba(9, 9, 9, 0.525);
    margin-top: -50px;
    padding: 10px;
    font-family: var(--ffMontserrat);
    color: white;
    text-align: center;
    font-size: .8rem;
    transform: scale(0);
    transition: 0.7s;
    
}
.contacts__modal a{
    color: white;
    text-decoration: none;
}
.contacts__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}
}
.input{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 15px;
    font-family: sans-serif;
    font-size: .8rem;
}
.input input{
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 8px;
    padding: 5px;
    border: none;
}
.input > input:hover{
    box-shadow: 0 0 10px 1px white;
}
.input input[type='button']{
    width: 120px;
    cursor: pointer;
}
.input input[type='button']:hover{
    background: radial-gradient(white,black);
}
.input input[type='checkbox']{
    width: 15px;
    height: 15px;
    border: none;
}
.chackbox{
    display: flex;
    gap: 5px;
}
.question{
    cursor: pointer;
}
.flip-container {
	perspective: 1000px;
}
.flip-container, .front, .back {
	width: 260px;
	height: 350px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
}
.back {
	transform: rotateY(180deg);
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
}
